/** Align footer to the botoom and add space on page edges. **/
/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: lightcyan;
    padding-left: 20px;
}

section {
    padding: 20px;
}

#result {
    margin: 0 auto;
    position: relative;
}

footer {
    background: PapayaWhip;
    margin-top: auto;
    padding-left: 20px;
}

/** Images **/
.splat {
    height: 200px;
}



.under {
    position: absolute;
    z-index: -1;
}

.over {
    position: absolute;
    z-index: 1;
    mix-blend-mode: luminosity;
}
