/** Align footer to the botoom and add space on page edges. **/
/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: lightcyan;
    padding-left: 20px;
}

section {
    padding: 20px;
}

footer {
    background: PapayaWhip;
    margin-top: auto;
    padding-left: 20px;
}

/** Images **/
.splat {
    height: 100px;
}

.hidden {
    display: none;
}
